<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Company</title>
</head>
<body>
   <h2>Information about company</h2>
   <hr />
     <ul>
      	{% for d in data %}
	      <li>
	      	<ul>{{ d.id }}</ul>
	      	<ul>{{ d.parent_id }}</ul>
	        <ol><a href=/add/{{d.id}}>{{ d.name_company }}</a></ol>
	        <ol><strong>{{ d.established_company }}</strong></ol>
	        <ul><a href="/del/{{d.id}}">del </a></ul>
	        <ul><a href="/edit/{{d.id}}">edit </a></ul>
	     </li>
    	{% endfor %}
     </ul> 
   
   <hr />
   <form action='/add/{{cat_id}}' method="post">
   		<input type="hidden" name="id" value="{{cat_id}}" />
       {{ form.as_p }}  
       {% csrf_token %}
       <input type="submit" value="Add" />
   </form>
</body>
</html>